// ==========================================================================
// Tools: Path
// ==========================================================================

$root: "../../src";

$path-images: "#{$root}/img/";
$path-fonts: "#{$root}/fonts/";
